:root{
    /*Colores de la marca */
    border: 3px dotted aqua;
    --azul-MCI:#98c5e9;
}




body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}



h1 {
    background-color: var(--azul-MCI);
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}


p.intro{
    font-size: 1.8rem;
    color: #000;
    background-color:#ffffff;
}

.logo{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.logo img {
    width: 130px;
}