:root{
    /*Colores de la marca */
    --azul-MCI:#98c5e9;
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}



h1 {
    background-color: var(--azul-MCI);
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: inline;
}


p.intro{
    font-size: 1.8rem;
    color: #000;
    background-color:#ffffff;
}


.logo {
    margin: 0 auto;
    width: 15%;
    text-align: center;
    display: inline-block;
    background-color: var(--azul-MCI);
}

.logo img {
    width: 130px;
}